@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*{
	padding:0;
	margin:0;
}

html{
	min-width: 350px;
	font-family: 'Open Sans', sans-serif;
}

.inscription{
border: 2px solid #8EDE93;
border-radius: 50px;
color:#8EDE93;
}

.inscription a{
	color:#8EDE93;
}
.navbar {
	min-width: 350px;
}
.navbar-nav>li>a{
	padding-top:8px;
}

.headline{
	background-image:url('../includes/img/bg.png');
	background-size:cover;
	height:500px;
	text-align:center;
	width:100%;
}
.headline-inside {
	padding-top:140px;
}
.headline h1{

	color:#4E637A;
	font-size:60px;
	font-family: 'Open Sans', sans-serif;
}

.headline span{
	color:#8EDE93;
	font-weight:600;
}

.headline p{
	font-size:24px;
	color:#697C91;
}

.box{
	margin: 0 auto;
	text-align:center;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	padding:50px;
}

.box h2{
		margin-top:40px;
}
.box h2,p{
	color:#4E637A;
	font-family: 'Open Sans', sans-serif;
}

.box p{
	font-size:16px;
}

.btn{
	width:150px;
	font-weight:600;
	color:#8EDE93;
	border: 1px solid #8EDE93;	
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 320px) {

	.headline h1{
		font-size:50px;
	}
	.box{
		margin-top:-30px;
	}
	.navbar-nav>li>a {
		text-align:center;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 750px) {
	.box {
		margin-top: -150px;
		width:80%;
	}

	h1{
		font-size:30px;
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.box {
		margin-top: -150px;
		width:900px;
	}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.box {
		margin-top: -150px;
		width:900px;
	}
}

footer{
	text-align:center;
	padding-top:30px;
	font-size:16px;
}

.navbar-default .navbar-toggle{
	border-color: #8EDE93;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #8EDE93;
}

.navbar-toggle{
	margin-top: 22px;
}
