.ecocups{
	background-color:#FCFCFC;
	border:2px solid #CCCCCC;
	width:310px;
	height:380px;
}

.img_ecocup{
    margin: 0 auto;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

.ecocups img{
    width:30%;
    margin: 0 auto;
    text-align:center;
}

.ecocups p{
    margin-left:10px;
}
.jAiDeja{
    border-radius:2px;
    background-color:#FD6262;
    border:none;
    width:120px;
    height:50px;
    color:white;
    font-weight:600;
    font-size:16px;
}
.jeVeux{
    border-radius:2px;
    background-color:#8EDE93;
    border:none;
    width:186px;
    height:50px;
    color:white;
    font-weight:600;
    font-size:16px;
}